body {
    /*background-color: #000;*/
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}
.controls {
    width: 300px;
}
.controls {
    border:1px solid red;
    background-color: gray;
    font-size: 2em;
}
.controls .left {
    border:1px solid red;
    width:100px;
    text-align: center;
}
.controls .right {
    border:1px solid red;
    float: right;
    width:100px;
    text-align: center;
}